{% extends app.request.isxmlhttprequest ? '::base.html.twig' : 'RBAdminBundle::index.html.twig' %}

{% block body %}
    {% set crudEntity = "RBFrontBundle:Setting" %}
    {{ menu_edit('setting', delete_form) }}

{# Panel  #}
<div class="panel panel-default">
    <div class="panel-body">
        {{ form_start(edit_form,{action:path("setting_edit",{id:setting.id}),attr:{class:"form-live"}}) }}
        {{ form_row(edit_form.name,{attr:{class:'form-control'}}) }}
        {{ form_row(edit_form.value,{attr:{class:'form-control'}}) }}
        {{ form_row(edit_form.grp,{attr:{class:'form-control'}}) }}
        <hr>
        {{ form_widget(edit_form.submit) }}
    {{ form_end(edit_form) }}
    </div>
</div>
{# End Panel :   #}
{#
    <ul>
        <li>
            <a href="{{ path('setting_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul> #}
{% endblock %}
